<header role="banner">
  <h1>Project Nights</h1>

  <nav role="navigation">
    {{#if session.isAuthenticated}}
      <button {{action "deauthenticate"}}>Sign out</button>
    {{/if}}
  </nav>
</header>

<main role="main">
  {{outlet}}
</main>
